<div class="flex aling login">
	
	<div class="box-login">
		
		<div class="card-header">
			
			<h1>Login - Lenon</h1>
		</div><!-- card-header -->
		
		<div class="card-body">
			{{status}}
			
			<form method="post">
				<div class="form-group w100 left p-2">
					<input type="email" class="form-control out-0" placeholder="seu e-mail" required name="email" autofocus>
				</div><!-- form-group -->
				
				<div class="form-group w50 left p-2">
					<input type="password" class="form-control out-0" placeholder="sua senha" required name="senha">
				</div><!-- form-group -->
				
				<div class="form-group w50 left p-2">
					<input type="password" class="form-control out-0" placeholder="confirme sua senha" required name="confirmar">
				</div><!-- form-group -->
				
				<div class="w100">
					<button type="submit" class="btn btn-warning">Acessar</button>
				</div><!-- form-group -->
				
			</form>
		</div><!-- card-body -->
		
	</div><!-- box-login -->
</div>