<header class="header">
		
		<a href="#" class="logo slide-top"></i>codeMind</a>
		<i class="bx bx-menu" id="menu-icon"></i>
		<nav class="navigation">
			<a attr="home"   style="--i:1;" class="active">Home</a>
			<a attr="sobre"  style="--i:2;">Sobre</a>
			<a attr="servicos"  style="--i:3;">Serviços</a>
			<a attr="skills"  style="--i:4;">skills</a>
			<a target="_blank" href="{{BLOG}}"  style="--i:4;">Blog</a>
			<a attr="contato"  style="--i:5;">Contato</a>
		</nav>
	
</header>
