<section class="{{pagina}} mod-1 sec-{{id}}" id="{{pagina}}">
    <div class="{{pagina}} mod-1-content">
            <h3 class="text-gradient slide-left">{{titulo}}</h3>
            <h1 class="text-gradient reveal-text slide-rigth"></h1>
            <p  class="slide-rigth">
            {{descricao}}
            </p>
        <div class="social-media slide-bottom">
            <a style="--a:1" class="linear-a  upSide" href=""><i class="bx bxl-facebook "></i></a>
            <a style="--a:2" class="linear-a  upSide" href=""><i class="bx bxl-instagram "></i></a>
            <a style="--a:3" class="linear-a  upSide" href=""><i class="bx bxl-github "></i></a>
            <a style="--a:4" class="linear-a  upSide" href=""><i class="bx bxl-linkedin "></i></a>
        </div>
        <div class="slide-bottom">
        <a href="" class="btn blur">Contratar</a>
        </div>
    </div>
    <!-- home-content -->

    <div class="{{pagina}} mod-1-img">
        <img src="{{BASE}}/Components/images/codemind/{{imagem}}" alt="">
    </div>
</section>