<section class="{{pagina}} mod-2 sec-{{id}}" id="{{pagina}}">
    <div class="{{pagina}} mod-2-img">
        <img src="{{BASE}}/Components/images/codemind/{{imagem}}" alt="">
    </div>
    <div class="{{pagina}} mod-2-content">
        <h2 class="heading text-gradient"><span>sobre mim</span><h2>
        <h3 class="text-gradient">{{titulo}}</h3>
        <p>
           {{descricao}}
        </p>
        <div class="slide-bottom">
        <a  id="expandLink" class="btn blur">Ver Mais</a>
        </div>
    </div>
</section>
