
{{content}}

<section class="servicos sec-3" id="servicos">
  <h2 class="heading text-gradient"><span>Serviços</span></h2>
  <div class="servico-content">
      <div class="box-servico">
          <i class="bx bx-code-alt"></i>
          <h3>Desenvolvimento Web</h3>
          <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
              dolorem error nostrum. Sit eaque unde ex nostrum. Aspernatur iure odio
              qui distinctio suscipit ipsam minima molestiae? Aliquid eum beatae
              error!
          </p>
          <a class="btn blur">Ver Mais</a>
      </div>
      <div class="box-servico">
          <i class='bx bx-edit-alt'></i>
          <h3>Designer Grafico</h3>
          <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
              dolorem error nostrum. Sit eaque unde ex nostrum. Aspernatur iure odio
              qui distinctio suscipit ipsam minima molestiae? Aliquid eum beatae
              error!
          </p>
          <a class="btn blur">Ver Mais</a>
      </div>
      
  </div>
</section>
<section class="skills sec-4" id="skills">

  <h2 class="heading text-gradient">skills</h2>
  <div class="skills-row">
    <div class="skills-colum">
      <h3 class="title text-gradient">front-end</h3>
      <div class="skills-box">
        <div class="skills-content">
          <div class="progress">
            <h3>HTML</h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>CSS</h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>JavaScript</h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>React-JS</h3>
            <div class="bar"><span></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="skills-colum">
      <h3 class="title text-gradient">Back-End</h3>
      <div class="skills-box">
        <div class="skills-content">
          <div class="progress">
            <h3>PHP</h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Node</h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>MySql</h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Fire-Base</h3>
            <div class="bar"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contato sec-5" id="contato">
  <h2 class="heading text-gradient">Contato</h2>
 
  <form method="post" id="contatoForm">
     <h2 id="msg" style="display: none;">Todos os campos são obrigatórios.</h2>
      <div class="input-row input">
        <input type="text" name="Nome" id="Nome" c placeholder="Nome">
        <input type="text" name="sobreNome" id="sobreNome" placeholder="Sobrenome">
       
      </div>
      <div class="input-colum input">
        <input type="text" name="Email" id="Email" placeholder="Email">
        <input type="tel" name="Celular" id="Celular" placeholder="Celular">
        
      </div>
      <div class="input-colum textarea">
        <textarea class="textarea" name="Menssagem" required id="Menssagem" rows="10" style="resize: none;" placeholder="Sua Mensagem"></textarea>
      </div>
    <input type="submit" name="acao" class="btn blur"/>
  </form>
</section>

